/*media querys para mobile PAGINA iniciar sesion*/
@media (max-width: 1200px) {

    .bodyRegistrarse{

        .headerRegistrarse{
            padding:20px;

            .anclaLogo{
                font-size: 1rem;
            }
        }

    .main{

        .seccionRegistrarse{
            width: 95%;
            padding: 10px 10px;

            .tituloRegistrarse{
                font-size: 2rem;
            }

            form{
                width: 100%;
                text-align: center;
            
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }

                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }

                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
                
                .ayuda{
                    text-align: left;
                    font-size: 0.8rem;
                }
            }
            }
        }
    }

}
